<mat-toolbar color="primary"class="main-nav">

    <div>
      <a mat-button routerLinkActive="active" routerLink="/">finance estock|prototype</a>
    </div>
    <div>
      <a mat-button routerLink="/"  routerLinkActive="active" >Home</a>
      <a mat-button routerLink="/market" routerLinkActive="active">Market</a>
      <a mat-button routerLink="/news" routerLinkActive="active">News</a>
      <a mat-button routerLink="/about-us" routerLinkActive="about">About us</a>
      <a mat-button routerLink="/brokers"  routerLinkActive="active" >Brokers</a>
    </div>
    <div>
      <a mat-icon-button  routerLinkActive="active" routerLink="/register">Register</a>
    </div>

</mat-toolbar>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
